---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Rock paper scissors">
	<main class="flex flex-col text-center">
		<Header />


		<p>Choose your weapon:</p>
		<div class="cards">
			<p>Rock</p>
			<p>Paper</p>
			<p>Scissors</p>
		</div>
	</main>
</Layout>
