---
console.log('hello world');
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-16">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h1 class="text-4xl font-extrabold">
			<span class="text-gray-500">Rock</span>
			<span class="text-blue-500">Paper</span>
			<span class="text-red-500">Scissors</span>
		</h1>
  </div>

</header>